[submodule "public/amtl"]
	path = public/amtl
	url = https://github.com/alliedmodders/amtl
[submodule "android/jni/filesystem_stdio_xash"]
	path = android/jni/filesystem_stdio_xash
	url = https://github.com/FWGS/filesystem_stdio_xash
[submodule "android/jni/metamod"]
	path = android/jni/metamod
	url = https://github.com/FWGS/metamod-p-old-deprecated-dont-use-iwont-work-on-this-anymore-dont-even-ask
